.container
  .row
    .col-md-3
      h3 public
      ul
        for post in public.post._contents
          li
            a(href="/post/#{post}") #{post}

    .col-md-3
      h3 study
      ul
        for study in public.study._contents
          li
            a(href="/study/#{study}") #{study}


    .col-md-3
      h3 demo
      ul
        for demo in public.demo._contents
          li
            a(href="/demo/#{demo}") #{demo}
        li -----------
        li
          a(href="/demo/editline") 高德地图线段编辑
        li
          a(href="//ijia360.jinglvtong.com/001.html#/") 自驾大挑战
        li
          a(href="http://test.minuteschina.com/activity_whiteningQuiz.html") 一分钟叫你正确美白
        li
          a(href="http://test.minuteschina.com/activity_lbd.html") 奥黛莉赫本
        li
          a(href="http://flyingliu.github.io/mydemo/jiang/www/") 幸运大抽奖
        li
          a(href="http://flyingliu.github.io/mydemo/yc/#/") 宜春旅游资讯网
        li
          a(href="http://flyingliu.github.io/shanghu/") 尚湖风景区


    .col-md-3
      h3 photo
      ul
        for photo in public.photo._contents
          li
            a(href="/photo/#{photo}") #{photo}
