.container
  .row
    .col-md-3
      h3 public
      ul
        for post in public.post._contents
          li
            a(href="/post/#{post}") #{post}

    .col-md-3
      h3 study
      ul
        for study in public.study._contents
          li
            a(href="/study/#{study}") #{study}


    .col-md-3
      h3 demo
      ul
        for demo in public.demo._contents
          li
            a(href="/demo/#{demo}") #{demo}
        li
          a(href="/demo/editline") editline

    .col-md-3
      h3 photo
      ul
        for photo in public.photo._contents
          li
            a(href="/photo/#{photo}") #{photo}
